@import 'fontawesome/font-awesome';

/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,900|Raleway:300,500,900');
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$font-family: $raleway; */

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Roboto:300,400,500');
$roboto: 'Roboto', sans-serif;
$lora: 'Lora', serif;
$font-family: $roboto;