.box-contato {
	background-color: #F7F7F7;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.05);

	form {
		max-width: 1000px;
	}
}

.footer {
	background-color: #292b33;
	width: 100%;
	padding: 0px;
	float: left;

	.msg {
		background: rgba(0,0,0,.1);
		h3 {
			padding: 30px 0;
			margin: 0;
			text-align: center;
		}
	}

	.row {
		margin-top: 50px;
	}

	p {
		color: #cccccc;
		display: block;
	}

	h1 {
		max-width: 160px;
		display: none;
	}

	h3 {
		color: #ffffff;
		margin-bottom: 15px;
		display: block;
		@include clear;
	}

	.col-6 {
		text-align: center;
	}

	.item {
		display: inline-block;
		margin: 0 20px 50px;
		text-align: center;
	

		&.endereco {
			display: block;
			width: 100%;
			font-size: 1rem;
			margin: 0px;
		}

		i {
			display: block;
			font-size: 3rem;
			color: $vermelho;
			margin-bottom: 10px;
		}

		span {
			color: #cccccc;
			font-size: 1rem;		

			strong {
				display: block;
				font-size: 1.5rem;
				line-height: 1.8rem;
				color: #cccccc;
			}
		}
	}

	.fb-page {
		margin-top: 36px;
	}

	.copy {
		margin-top: 50px;
		border-top: 1px solid rgb(63, 65, 72);
		padding: 20px;
		float: left;
		width: 100%;
		@include box-sizing;

		p {
			float: left;
			margin: 0;
			font-size: .875rem;

			i {
				color: #cccccc;
			}
		}

		.redes {
			float: right;

			a {
				margin-right: 8px;

				i {
					font-size: 1.225rem;
					color: #65666C;
					@include animacao;
				}

				&:hover {
					i {
						color: #ffffff;
					}
				}
			}

			#gotop {
				margin-left: 50px;
				padding: 10px;
			}
		}
	}

	@media all and (max-width: 1170px) {
		.col-5, .col-4, .col-3 {
			max-width: 700px;
			margin: 0 auto 50px;
			float: none;
			width: 100%;
			text-align: center;
		}

		.col-3 {
			margin-bottom: 0;
		}
	}

	@media all and (max-width: 600px) {
		.copy {
			text-align: center;

			p, .redes {
				display: block;
				width: 100%;
			}

			p {
				margin-top: 10px!important;
			}

			#gotop {
				position: absolute;
				bottom: 48px;
				right: 10px;
			}
		}
	}
}